body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Common Style Variables */

  /* Color */
  --color-beige: #dbf4d7;
  --color-darkslategray: #005538;
  --color-limegreen: rgba(35, 177, 0, 0.15);
  --color-white: #fff;
  --color-whitesmoke: #f7f7f7;

  /* Gap */
  --gap-4: 4px;
  --gap-8: 8px;
  --gap-10: 10px;

  /* Padding */
  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-4: 4px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-20: 20px;
  --padding-25: 25px;
  --padding-30: 30px;

  /* BorderRadius */
  --br-4: 4px;
  --br-10: 10px;
  --br-12_5: 12.5px;

  /* Font */
  --font-inherit: inherit;
  --font-inter: Inter;
  --font-inter-th: Inter TH;

  /* FontSize */
  --fs-10: 10px;
  --fs-12: 12px;
  --fs-23: 23px;
  --fs-24: 24px;

  /* Borders */
  --border-1: none;

  /* Shadows */
  --shadow-drop: 0px 2px 2px rgba(0, 85, 56, 0.25);

  /* WidthHeights */
  --height-20: 20px;
  --height-24: 24px;
  --width-20: 20px;
  --width-1_5: 1.5px;

  /* LineHeights */
  --lh-8: 8px;
  --lh-14: 14px;
  --lh-24: 24px;

  /* LetterSpacings */
  --ls--0_01: -0.01;
  --ls-0_01: 0.01;
}
